@charset "UTF-8";

/* PALETA DE CORES 

VERDE = #49a09d
LILÃS = #5f2c82

*/
* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --verde: #49a09d;
    --lilas: #5f2c82;
}

body, html {
    background-color:var(--lilas);
    height: 100vh;
    width: 100vw;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

section#login {
    background-color: white;
    width: 60vw;
    max-width: 400px;
    height: 80vh;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

div#imagem {
    display: block;
    height: 200px;
    background: var(--lilas) url(../imagens/foto.jpg) no-repeat left top;
    background-size: cover;
}

div#formulario {
    display: block;
    padding: 10px;

}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.9rem;
}
